body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #6563ff;
}

/* Text styling */
h1{
  color: white;
  font-size: 2rem;
}
h3{
  color: white;
}

/* game section styling */
.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row{
  display: flex;
  justify-content: space-between;
}

.cell{
  width:150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  padding :1rem 0;
  cursor: pointer;
}

img{
  width:100px;
}
.hidden{
  display: none;
}
.reset{
  color: #6563ff;
border-radius: 30px;
border:none;
font-weight:bold;
padding: 0.5rem 2rem;
margin-top: 1rem;
margin-bottom: 2rem;
}
.disabled{
  pointer-events:none;
}
